body{
    /* background-color: rgba(255, 29, 247, 0.201); */
    background: linear-gradient(pink,rgb(179, 70, 88),rgb(150, 18, 40));
    
    
    width: 200vh;
    
}

#nav0{
    width: 200vh;
    height: fit-content;
    
    text-align: center;

    font-size:xx-large;

    background-color: aqua;
    
     
    
    color: black;
    box-shadow: 2px 2px 2px 2px black;
    border-color: black;
}

#nav{
    margin-top: 1rem;
    height: fit-content;
    width: 200vh;
    background-color: rgba(146, 139, 140, 0.644);
    display: flex;
    
    
    
    flex-direction: row;
    justify-content:flex-start;
    text-decoration: none;
    font-style: normal;
    font-size:large;
    border: 2px solid rgb(20, 18, 2);
    
    color: aliceblue;

    
    
    
    
}
#nav li{
    list-style: none;
    
}
#nav li:hover{
    background-color:rgba(220, 33, 230, 0.583);
    
    text-decoration: underline;


    
}
#nav ul{
    display: flex;
    flex-direction: row;
    position: absolute;
    
    
    
}
#nav  ul{
    display: none;
}
#nav li:hover ul {
    position: relative;
    display:list-item;
    display: flex;
    flex-direction: row;
    align-content:flex-start;
    margin: 0%;
    height: fit-content;
    width: fit-content;
    
    

}
ul:hover{
    background-color: red;
}
img{
    width: 200px;
    height: 200px;
}


.bg{
    background-color: blue;
}

.td1{
    align-items: flex-end ;
    animation: button 7s infinite linear;
    text-decoration:underline;
    color: aliceblue;
}
@keyframes button {
    0%{background-color: aqua;}
    45%{background-color: rgb(11, 185, 42);}
    75%{background-color: blueviolet;}
}

.align{
    display: flex;
    justify-content: right;
    width: 50%;
    height: 300px;
    border-color: red;
    box-shadow: 2px 2px 10px 5px red ;



}
.text_style{
    font-style: normal;
    color: rgb(94, 55, 221);
    border: 90px;
    border-color: aqua;
    text-shadow: 2px 2px 10px 5px green;
    animation: box1 5s infinite linear;
    background-color:blueviolet;
    
    
}
.text_style:hover{
    transform: scale(1.01);
    transition-duration: 1s;
}
@keyframes box1 {
    0%{
        box-shadow: 1px 2px 10px 5px green;
    }
    35%{
        box-shadow: 1px 2px 10px 5px aqua;
    }
    75%{
        box-shadow: 1px 2px 10px 5px aqua;
    }
    
}
@keyframes design {
    0%{
        color: greenyellow;
    }
    35%{
        color: aqua;
    }
    75%{
        color: rgb(234, 95, 3);
    }
}
.button{
    display: flex;
    justify-content: center;
    font-style:normal;
    color:rgb(203, 229, 8);
    background-color: rgb(94, 55, 221);
    font-size: 60px;
    box-shadow: 2px 2px 10px 5px green;
    border-color: black;
    border-radius: 90px;
    border-left-width: 10px;
    animation: box 5s infinite linear;
}
@keyframes box {
    0%{
        box-shadow: 2px 2px 10px 5px green;
        
    }
    35%{
        box-shadow: 2px 2px 10px 5px rgb(12, 94, 181);

    }
    75%{
        box-shadow: 2px 2px 10px 5px rgb(146, 2, 148);

    }
    
}
.breakout{
    font-style: italic;
    color: red;
}

a{
    
    color: aliceblue;
}

#deco{
    font-style: italic;
    text-decoration: underline;
    color: rgba(20, 174, 20, 0.878);
    animation: text 7s infinite linear;

}

@keyframes text {
    0%{
        color: green;
    }
    50%{
        color: rgba(0, 128, 0, 0.79);
    }
    75%{
        color: rgba(0, 128, 0, 0.544);
    }
}
.mySlides {display:none;}
.mySlides2 {display:none;}

a{
    text-decoration: none;
}

#id1{
    background:radial-gradient(red,orange) ;
    color: black;
    text-align: center;
}
#id1:hover #id3{
    display: flex;
    posi
}